// import bootstrap4
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// font variable
$fontLobster: "Lobster", cursive;

// full screen picture
html,
body {
  height: 100%;
  font-family: $fontLobster;
}

// option in dropdown with hover
option {
  padding: 5px 20px;
}

// main background image
.body-wrap {
  min-height: 100%;
  width: 100%;
  position: relative;
  &::before {
    content: "";
    background: url(../img/zodiac.jpg) no-repeat center/cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
  }
}

// title text
.header p,
h1 {
  color: rgb(44, 42, 42);
}
.header p {
  font-size: 22px;
}

// Page styles
.menu-limiter {
  height: 300px;
  overflow-y: scroll;
}
// shadow around image
.img-padding {
  width: 50%;
  padding: 30px;
  border-radius: 50%;
  background-color: rgba(133, 83, 10, 0.5);
  box-shadow: 0 0 15px rgba(133, 83, 10, 0.5);
}

// md:
@media screen and (max-width: 992px) and (min-width: 768px) {
  .img-padding {
    width: 65%;
  }
}
// sm:
@media screen and (max-width: 767px) and (min-width: 576px) {
  .img-padding {
    width: 65%;
    padding: 20px;
  }
}
// col:
@media screen and (max-width: 575px) and (min-width: 319px) {
  .img-padding {
    width: 75%;
    padding: 10px;
  }
  .header p {
    font-size: 18px;
  }
  .header h1 {
  font-size: 28px;
  margin-top: -20px;
}
}